TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_ALLOWED_CHAT_IDS=
TELEGRAM_POLL_INTERVAL_MS=3000
TELEGRAM_BASE_URL=https://api.telegram.org
CODEX_BIN=codex
CODEX_MODEL=
CODEX_SANDBOX=workspace-write
ALLOWED_EDIT_ROOTS=src,components
CLARIFICATION_THRESHOLD=0.7
BUILD_COMMAND=npm run build
GIT_REMOTE=origin
GIT_BRANCH=main
ADMIN_USERNAME=replace_me
ADMIN_PASSWORD=replace_me
ADMIN_SESSION_SECRET=replace_me
GITHUB_TOKEN=replace_me
GITHUB_OWNER=sdaulat123
GITHUB_REPO=Fundraiser-website
GITHUB_BRANCH=main
